* {
    box-sizing: border-box;
}

.header {
    border: 1px solid rebeccapurple;
    padding: 15px;
}
.menu {
    width: 25%;
    float: left;
    padding: 15px;
    border: 1px solid rebeccapurple;
}
.main {
    width: 75%;
    float: left;
    padding: 15px;
    border: 1px solid rebeccapurple;
}
img {
    max-width: 100%;
height: auto;
}
@media only screen and (max-width: 600px) {
body {
    background-color: lightgreen;

}}
